// Variables
$transition: 0.6s;
$arrow-width: 23px;
$arrow-height: 40px;
$arrow-top: 50%;

.main-wrap {
  max-width: 1333px;
  width: 75%;
  height: auto;

  main.crux {
    width: 100%;
    height: auto;
    padding: 63px 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div.work-card {
      width: 25em;
      height: 25em;
      margin: 0 1em 3em 1em;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        text-decoration: none;
        h2 {
          color: #FFFFFF;
          letter-spacing: 0.3em;
          text-shadow: 3px 3px 3px rgba(3, 3, 3, 0.5);
        }
      }
    }
    div#beforeNafter {
      a {
        background-image: url("../img/crux-work-sq-before-n-afters-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-before-n-afters-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
    div#bathrooms {
      a {
        background-image: url("../img/crux-work-sq-bathrooms-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-bathrooms-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
    div#bedrooms {
      a {
        background-image: url("../img/crux-work-sq-bedrooms-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-bedrooms-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
    div#kitchens {
      a {
        background-image: url("../img/crux-work-sq-kitchens-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-kitchens-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
    div#patios {
      a {
        background-image: url("../img/crux-work-sq-patios-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-patios-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
    div#livingRooms {
      a {
        background-image: url("../img/crux-work-sq-living-rooms-bw.png");
        border-bottom: 8px solid #FFFFFF;
        &:hover {
          background-image: url("../img/crux-work-sq-living-rooms-color.png");
          background-size: cover;
          border-bottom: 8px solid #00A651;
        }
      }
    }
  }

  main.about-crux {
    width: 100%;
    height: auto;
    padding: 63px 18px;
    display: flex;
    flex-direction: column;
    div.crux-about-at-a-glance {
      width: 100%;
      display: flex;
      margin-bottom: 3em;
      div.crux-logo-about {
        min-width: 333px;
        width: 18vw;
        img {
          width: 100%;
          height: auto;
        }
      }
      div.crux-about-at-a-glance-info {
        margin-left: 3em;
        h2 {
          span {
            color: #00A651;
          }
        }
        div.about-3-things {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          div.established, div.CCB, div.instagram {
            display: flex;
            align-items: center;
            div.about-icon {
              width: 1.8em;
              img {
                width: 93%;
                height: auto;
              }
            }
            div.about-icon-text {
              margin-left: 1em;
            }
          }
        }
      }
    }
    p {
      img.about {
        width: 33vw;
        max-width: 633px;
        margin: 0 0 1em 3em;
        height: auto;
        float: right;
      }
    }
  }

  // Pen general styling
  html,
  body {
    height: 100%;
    width: 100%;
  }

  section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
  }

  // Carousel starts
  .container {
    width: 100%;
    height: auto;
    padding-left: 33px;
    .arrow {
      cursor: pointer;
      opacity: 1 !important;
      z-index: 50;
    }
    .arrow-left {
      position: absolute;
      left: 33px;
      top: $arrow-top;
      height: $arrow-height;
      width: $arrow-width;
      background-image: url("http://cdn.whatbox.se/arrow-left.svg");
      &:hover {
        background-image: url("http://cdn.whatbox.se/arrow-left-dark.svg");
      }
    }
    .arrow-right {
      position: absolute;
      right: 33px;
      top: $arrow-top;
      height: $arrow-height;
      width: $arrow-width;
      background-image: url("http://cdn.whatbox.se/arrow-right.svg");
      &:hover {
        background-image: url("http://cdn.whatbox.se/arrow-right-dark.svg");
      }
    }
    img.main-image {
      width: 100%;
      height: auto;
    }
    .thumbnails {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      img {
        cursor: pointer;
        width: 20%;
        height: auto;
        opacity: 0.5;
      }
      img.focus {
        opacity: 1;
        transition-property: opacity;
        transition-duration: $transition;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      }
    }
  }

}
